[alias]
  amend = commit --amend
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  setsub = submodule update --init --recursive
  undo = reset --soft HEAD^
  unstage = reset HEAD

[color]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[push]
	default = simple

[user]
  name = Francois Ripault
  email = francois.ripault@epita.fr
