[color]
  ui = auto
	diff = auto
	status = auto
	branch = auto
[user]
	name = Francois Ripault
	email = francois.ripault@epita.fr
[gui]
	recentrepo = /lrde/home/lrde-2014/ripault/Prog/climb
	warndetachedcommit = true
[core]
	excludesfile = ~/.gitignore_global
